/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.container{
  width: 684px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-size: 13px;
}

.fatores{
  border:1px solid green;
  clear: right;
  position: relative;
  float: left;
}

.questoes{
  border:1px solid black;
}
